@model CovidVaccinationCenterApp.Models.VaccinationCenters

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add new vaccination center</h2>


 @*Implement Your Code here*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
