@model IEnumerable<CovidVaccinationCenterApp.Models.VaccinationCenters>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vaccination Centers</h2>


 @*Implement Your Code here*@