@model CovidVaccinationCenterApp.Models.SearchVaccinationCentersViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search a vaccination center</h2>


@*Implement Your Code here*@